.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    z-index: 1;
  }
  
  .dropdown-content select {
    width: 100%;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  .buttons-container button {
    margin-left: 10px;
  }
  
  .buttons-container button:first-child {
    margin-left: 10px;
  }
  